.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dahlia {
  width: 50%;
  height: auto;
  transition: all 30s;
}

.dahlia:hover {
  transform: rotate(10800deg);
}
